<div class="title-room">  
    <input class="form-control input-date" type="month" ng-model="$ctrl.newDate" ng-keypress="($event.which === 13)?$ctrl.changeDate():0" placeholder="yyyy-mm">
    <button class="btn btn-default" ng-click="$ctrl.changeDate()">Change</button>
</div>
<div class="title-room">   
    <span class="title">{{$ctrl.month.format("MMMM, YYYY")}}</span>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="week in $ctrl.weeks">
            <td ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected)}" ng-repeat="day in week.days" ng-click="$ctrl.openModal(day)">{{day.number}}</td>
        </tr>
    </tbody>
</table>
